<h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
    <%= link_to "Sign out", destroy_path(session), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-warning mt-2" %>
<% end %>
<% unless logged_in? %>
  <%= link_to "Login", login_path, class: "btn btn-primary mt-2" %>
  <%= link_to "Sign Up", new_user_path, class: "btn btn-primary mt-2" %>
<% end %>
